<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="/content/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/content/styles/administration/style.css" media="screen" />
		<script src="/content/scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script src="/content/scripts/administration/coders.js" type="text/javascript"></script>
        @RenderSection("scripts", required: false)
    </head>
    <body>
		<div id="container">
			<!-- header -->
			<div id="header">
				<div id="logo">
					<h1>@Setting.SiteTitle.Value @Resources.Titles.Administration</h1>
				</div>
				<div id="menu">
					<ul>
						<li>
							<a href="@Url.Route(UsersAdministrationRoutes.HomeIndex, new { sort = "name", order = "ascending", page = 1 }).Value" title="@Resources.Titles.Users"><span>@Resources.Titles.Users</span></a>
							<ul>
								<li class="first">@Url.Route(UsersAdministrationRoutes.HomeIndex, new { sort = "name", order = "ascending", page = 1 }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Users))</li>
								<li>@Url.Route(UsersAdministrationRoutes.HomeCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.User))</li>
								<li class="last">
									@Url.Route(UsersAdministrationRoutes.RoleIndex).Link(Resources.Titles.Roles, new { @class = "childs" })
									<ul>
										<li>@Url.Route(UsersAdministrationRoutes.RoleIndex).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Roles))</li>
										<li class="last">@Url.Route(UsersAdministrationRoutes.RoleCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.Role))</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="@Url.Route(AdministrationRoutes.AttachmentIndex, new { sort = "created", order = "descending", page = 1 }).Value" title="@Resources.Titles.Attachments"><span>@Resources.Titles.Attachments</span></a>
							<ul>
								<li class="first">@Url.Route(AdministrationRoutes.AttachmentIndex, new { sort = "created", order = "descending", page = 1 }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Attachments))</li>
								<li class="last">
									@Url.Route(AdministrationRoutes.AttachmentRuleIndex, new { page = "1" }).Link(Resources.Titles.Rules, new { @class = "childs" })
									<ul>
										<li>@Url.Route(AdministrationRoutes.AttachmentRuleIndex, new { page = "1" }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Rules))</li>
										<li class="last">@Url.Route(AdministrationRoutes.AttachmentRuleCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.Rule))</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="last">
							<a href="@Url.Route(AdministrationRoutes.SettingIndex, new { sort = "group", order = "ascending", page = 1 }).Value" title="@Resources.Titles.Settings"><span>@Resources.Titles.Settings</span></a>
							<ul>
								<li class="first">@Url.Route(AdministrationRoutes.SettingIndex, new { sort = "group", order = "ascending", page = 1 }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Settings))</li>
								<li>@Url.Route(AdministrationRoutes.SettingCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.Setting))</li>
								<li>
									@Url.Route(AdministrationRoutes.CountryIndex, new { sort = "title", order = "ascending", page = "1" }).Link(Resources.Titles.Countries, new { @class = "childs" })
									<ul>
										<li>@Url.Route(AdministrationRoutes.CountryIndex, new { sort = "title", order = "ascending", page = "1" }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.Countries))</li>
										<li class="last">@Url.Route(AdministrationRoutes.CountryCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.Country))</li>
									</ul>
								</li>
								<li class="last">
									@Url.Route(AdministrationRoutes.TimeZoneIndex, new { sort = "offset", order = "ascending", page = "1" }).Link(Resources.Titles.TimeZones, new { @class = "childs" })
									<ul>
										<li>@Url.Route(AdministrationRoutes.TimeZoneIndex, new { sort = "offset", order = "ascending", page = 1 }).Link(Resources.Titles.ManageWith.FormatInvariant(Resources.Titles.TimeZones))</li>
										<li class="last">@Url.Route(AdministrationRoutes.TimeZoneCreate).Link(Resources.Titles.CreateWith.FormatInvariant(Resources.Titles.TimeZone))</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- end header -->
			@RenderSection("location", required: false)
			<!-- content -->
			<div id="content">
				@RenderBody()
			</div>
			<!-- end content -->
			<!-- footer -->
			<div id="footer">
				<p>Copyright &copy; 2000-2010 @Setting.SiteTitle.Value. All Rights Reserved.</p>
			</div>
			<!-- end footer -->
		</div>
    </body>
</html>